<% include header-login %>
<div>
	<div class = "container">
		<div class = "text-center">
			<h1 class = "display-4">Chọn dạng câu hỏi</h1>
		</div>
		<ul class = "nav nav-tabs nav-justified" id = "nav" role = "tablist">
			<li class = "nav-item">
				<a href = "#" class = "nav-link h4 mb-0" id = "type-1" aria-controls = "step-1" aria-selected = "true">Dạng 1<br/><small>chọn đúng/sai</small></a>
      		</li>
			<li class = "nav-item">
				<a href = "#" class = "nav-link h4 mb-0" id = "type-2" aria-controls = "step-2" aria-selected = "false">Dạng 2<br/><small>chọn 1 đáp án</small></a>
			</li>
			<li class = "nav-item">
				<a href = "#" class = "nav-link h4 mb-0" id = "type-3" aria-controls = "step-3" aria-selected = "false">Dạng 3<br/><small>chọn nhiều đáp án</small></a>
			</li>
		</ul>
	</div>
<!-- end option -->
	<form class = "container" id = "true-false" style = "display: none;" action = "/questions/new" method="post">
		<input name="type" value = "1" style="display:none">
		<div class = "form-group">
			<label for = "ques-type1">Nhập câu hỏi:</label>
			<textarea class = "form-control" id = "ques-type1" rows = "3" name="content"></textarea>
		</div>
		<div class = "form-group">
			<label for = "answer-type1">Nhập đáp án(đúng/sai):</label>
			<textarea class = "form-control" id = "answer-type1" rows = "1" name="ans"></textarea>
		</div>
		<label>Lĩnh vực: </label>
		<select class="form-control" onchange='khac1(this.value);' name = "linhvuc">
			<option value="toan">Toán</option>
			<option value="ly">Vật Lý</option>
			<option value="hoa">Hóa học</option>
			<option value="eng">Tiếng Anh</option>
			<option value="iq">Test IQ</option>
			<option value="khac">Khác</option>
		</select>
		<br>
		<div class="form-inline" id= "khac_div1" style = "display : none">
      <div class="form-group">
         <label class="col-form-label" for="name">Tên lĩnh vực:</label>&nbsp;&nbsp;&nbsp;
         <input type="text" class="form-control" name="linhvuckhac" style="width: 50%!important;"/>
      </div>
    </div>
		<br><br>
		<input type = "submit" class = "btn btn-success" value = "Lưu">
		<button type="button" class="btn btn-danger" onclick="window.location='/'">Thoát</button>
	</form>
<!-- end true-false question -->

	<form class = "container" id = "choise" style = "display: none;" action = "/questions/new" method="post">
		<input name="type" value = "2" style="display:none">
		<div class = "form-group">
			<label for = "ques-type2">Nhập câu hỏi:</label>
			<textarea class = "form-control" id = "ques-type2" rows = "3"></textarea>
		</div>

		<div>Nhập đáp án:</div>
		<div class="form-group has-success row">
			<label class="control-label col-sm-1" for="id1">A: </label>
			<input class="form-control col-sm-6" type="text" id="id1" name="a1">
		</div>
		<div class="form-group has-success row">
			<label class="control-label col-sm-1" for="id2">B: </label>
			<input class="form-control col-sm-6" type="text" id="id2" name="a2">
		</div>
		<div class="form-group has-success row">
			<label class="control-label col-sm-1" for="id3">C: </label>
			<input class="form-control col-sm-6" type="text" id="id3" name="a3">
		</div>
		<div class="form-group has-success row">
			<label class="control-label col-sm-1" for="id4">D: </label>
			<input class="form-control col-sm-6" type="text" id="id4" name="a4">
		</div>

		<div class = "form-group">
		<label for = "answer-type2">Nhập đáp án đúng:</label>
		<textarea class = "form-control" id = "answer-type2" rows = "1" name="correct_ans"></textarea>
		</div>
		<label>Lĩnh vực: </label>
		<select class="form-control" onchange='khac2(this.value);' name = "linhvuc">
			<option value="toan">Toán</option>
			<option value="ly">Vật Lý</option>
			<option value="hoa">Hóa học</option>
			<option value="eng">Tiếng Anh</option>
			<option value="iq">Test IQ</option>
			<option value="khac">Khác</option>
		</select>
		<br>
		<div class="form-inline" id= "khac_div2" style = "display : none">
      <div class="form-group">
         <label class="col-form-label" for="name">Tên lĩnh vực:</label>&nbsp;&nbsp;&nbsp;
         <input type="text" class="form-control" name="linhvuckhac" style="width: 50%!important;"/>
      </div>
    </div>
		<br><br>
		<input type = "submit" class = "btn btn-success" value = "Lưu">
		<button type="button" class="btn btn-danger" onclick="window.location='/'">Thoát</button>
	</form>
 <!-- end choise question -->

	<form class = "container" id = "multichoise" style = "display: none;" action = "/questions/new" method="post">
		<input name="type" value = "3" style="display:none">
		<div class = "form-group">
			<label for = "ques-type3">Nhập câu hỏi:</label>
			<textarea class = "form-control" id = "ques-type3" rows = "3"></textarea>
		</div>
		<div>
			<div>Nhập đáp án:</div>
			<div class="form-group has-success " id = "ans1">
				<label class="control-label col-sm-1" for="da1">A: </label>
				<input class="form-control col-sm-6" type="text" id="da1" name="a1">
			</div>

			<div class="form-group has-success " id = "ans2" style = "display: none;">
				<label class="control-label col-sm-1" for="da2">B: </label>
				<input class="form-control col-sm-6" type="text" id="da2" name="a2">
			</div>

			<div class="form-group has-success " id = "ans3" style = "display: none;">
				<label class="control-label col-sm-1" for="da3">C: </label>
				<input class="form-control col-sm-6" type="text" id="da3" name="a3">
			</div>

			<div class="form-group has-success" id = "ans4" style = "display: none;">
				<label class="control-label col-sm-1" for="da4" >D: </label>
				<input class="form-control col-sm-6" type="text" id="da4" name="a4">
			</div>
			<div class="form-group has-success" id = "ans5" style = "display: none;">
				<label class="control-label col-sm-1" for="da5">E: </label>
				<input class="form-control col-sm-6" type="text" id="da5" name="a5">
			</div>
			<div class="form-group has-success" id = "ans6" style = "display: none;">
				<label class="control-label col-sm-1" for="da6">F: </label>
				<input class="form-control col-sm-6" type="text" id="da6" name="a6">
			</div>
			<div class="form-group has-success" id = "ans7" style = "display: none;">
				<label class="control-label col-sm-1" for="da7">G: </label>
				<input class="form-control col-sm-6" type="text" id="da7" name="a7">
			</div>
			<div class="form-group has-success" id = "ans8" style = "display: none;">
				<label class="control-label col-sm-1" for="da8">H: </label>
				<input class="form-control col-sm-6" type="text" id="da8" name="a8">
			</div>
			<div class="form-group has-success " id = "ans9" style = "display: none;">
				<label class="control-label col-sm-1" for="da9">I: </label>
				<input class="form-control col-sm-6" type="text" id="da9" name="a9">
			</div>
			<div class="form-group has-success " id = "ans10" style = "display: none;">
				<label class="control-label col-sm-1" for="da10">J: </label>
				<input class="form-control col-sm-6" type="text" id="da10" name="a10">
			</div>

		</div>
		<div class = "form-group">
			<label for = "answer-type3">Nhập các đáp án đúng(eg: A, B, ...):</label>
			<textarea class = "form-control" id = "answer-type3" rows = "1" name="correct_ans"></textarea>
		</div>
		<label>Lĩnh vực: </label>
		<select class="form-control" onchange='khac3(this.value);' name = "linhvuc">
			<option value="toan">Toán</option>
			<option value="ly">Vật Lý</option>
			<option value="hoa">Hóa học</option>
			<option value="eng">Tiếng Anh</option>
			<option value="iq">Test IQ</option>
			<option value="khac">Khác</option>
		</select>
		<br>
		<div class="form-inline" id= "khac_div3" style = "display : none">
      <div class="form-group">
         <label class="col-form-label" for="name">Tên lĩnh vực:</label>&nbsp;&nbsp;&nbsp;
         <input type="text" class="form-control" name="linhvuckhac" style="width: 50%!important;"/>
      </div>
    </div>
		<br><br>
		<input type = "submit" class = "btn btn-success" value = "Lưu">
		<button type="button" class="btn btn-danger" onclick="window.location='/'">Thoát</button>
	</form>
	<br><br>
<!-- end multichoise question -->

	<script type = "text/javascript">
		function khac1(val) {
			var element=document.getElementById('khac_div1');
 			if(val=='khac')
   			element.style.display='block';
 			else
   			element.style.display='none';
		}
		function khac2(val) {
			var element=document.getElementById('khac_div2');
 			if(val=='khac')
   			element.style.display='block';
 			else
   			element.style.display='none';
		}
		function khac3(val) {
			var element=document.getElementById('khac_div3');
 			if(val=='khac')
   			element.style.display='block';
 			else
   			element.style.display='none';
		}
		document.getElementById("type-1").onclick = function(){
			document.getElementById("true-false").style.display = "block";
			document.getElementById("choise").style.display = "none";
			document.getElementById("multichoise").style.display = "none";
		}
		document.getElementById("type-2").onclick = function(){
			document.getElementById("true-false").style.display = "none";
			document.getElementById("choise").style.display = "block";
			document.getElementById("multichoise").style.display = "none";
		}
		document.getElementById("type-3").onclick = function(){
			document.getElementById("true-false").style.display = "none";
			document.getElementById("choise").style.display = "none";
			document.getElementById("multichoise").style.display = "block";
		}

		document.getElementById("da1").onclick = function(){
			document.getElementById("ans2").style.display = "block";
		}
		document.getElementById("da2").onclick = function(){
			document.getElementById("ans3").style.display = "block";
		}
		document.getElementById("da3").onclick = function(){
			document.getElementById("ans4").style.display = "block";
		}
		document.getElementById("da4").onclick = function(){
			document.getElementById("ans5").style.display = "block";
		}
		document.getElementById("da5").onclick = function(){
			document.getElementById("ans6").style.display = "block";
		}
		document.getElementById("da6").onclick = function(){
			document.getElementById("ans7").style.display = "block";
		}
		document.getElementById("da7").onclick = function(){
			document.getElementById("ans8").style.display = "block";
		}
		document.getElementById("da8").onclick = function(){
			document.getElementById("ans9").style.display = "block";
		}
		document.getElementById("da9").onclick = function(){
			document.getElementById("ans10").style.display = "block";
		}
	</script>

<% include general/footer %>
