<% include general/header %>
<!-- ##### Hero Area Start ##### -->
<section class="hero-area bg-img bg-overlay-2by5" style="background-image: url(img/bg-img/bg1.jpg);">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12">
        <!-- Hero Content -->
        <div class="hero-content text-center">
          <h2>Trải nghiệm cùng chúng tôi!</h2>
          <a href="/tests" class="btn clever-btn">Bắt đầu</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ##### Hero Area End ##### -->

<!-- ##### Cool Facts Area Start ##### -->
<section class="cool-facts-area section-padding-100-0">
  <div class="container">
    <div class="row">
      <!-- Single Cool Facts Area -->
      <div class="col-12 col-sm-6 col-lg-3">
        <div class="single-cool-facts-area text-center mb-100 wow fadeInUp" data-wow-delay="250ms">
          <div class="icon">
            <img src="img/core-img/docs.png" alt="">
          </div>
          <h2><span class="counter">572</span></h2>
          <h5>Câu chuyện học tập</h5>
        </div>
      </div>

      <!-- Single Cool Facts Area -->
      <div class="col-12 col-sm-6 col-lg-3">
        <div class="single-cool-facts-area text-center mb-100 wow fadeInUp" data-wow-delay="500ms">
          <div class="icon">
            <img src="img/core-img/star.png" alt="">
          </div>
          <h2><span class="counter">123</span></h2>
          <h5>Diễn đàn</h5>
        </div>
      </div>

      <!-- Single Cool Facts Area -->
      <div class="col-12 col-sm-6 col-lg-3">
        <div class="single-cool-facts-area text-center mb-100 wow fadeInUp" data-wow-delay="750ms">
          <div class="icon">
            <img src="img/core-img/events.png" alt="">
          </div>
          <h2><span class="counter">89</span></h2>
          <h5>Bình luận</h5>
        </div>
      </div>

      <!-- Single Cool Facts Area -->
      <div class="col-12 col-sm-6 col-lg-3">
        <div class="single-cool-facts-area text-center mb-100 wow fadeInUp" data-wow-delay="1000ms">
          <div class="icon">
            <img src="img/core-img/earth.png" alt="">
          </div>
          <h2><span class="counter">10</span></h2>
          <h5>Sự kiện</h5>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ##### Cool Facts Area End ##### -->

<!-- ##### Popular Courses Start ##### -->

<!-- ##### Best Tutors Start ##### -->
<section class="best-tutors-area section-padding-100">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-heading">
          <h3>Đội ngũ phát triển</h3>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="tutors-slide owl-carousel wow fadeInUp" data-wow-delay="250ms">
          <!-- Single Tutors Slide -->
          <div class="single-tutors-slides">
            <!-- Tutor Thumbnail -->
            <div class="tutor-thumbnail">
              <img src="img/bg-img/t1.jpg" alt="">
            </div>
            <!-- Tutor Information -->
            <div class="tutor-information text-center">
              <h5>Nguyễn Mạnh Hiếu</h5>
              <span>MSV: 11111111</span>
              <div class="social-info">
                <a href="https://www.facebook.com/nguyenmanhhieu99" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
              </div>
            </div>
          </div>

          <!-- Single Tutors Slide -->
          <div class="single-tutors-slides">
            <!-- Tutor Thumbnail -->
            <div class="tutor-thumbnail">
              <img src="img/bg-img/t2.jpg" alt="">
            </div>
            <!-- Tutor Information -->
            <div class="tutor-information text-center">
              <h5>Việt Hoàng</h5>
              <span>MSV: 22222222</span>
              <div class="social-info">
                <a href="https://www.facebook.com/truongviet.hoang.127" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
              </div>
            </div>
          </div>

          <!-- Single Tutors Slide -->
          <div class="single-tutors-slides">
            <!-- Tutor Thumbnail -->
            <div class="tutor-thumbnail">
              <img src="img/bg-img/t3.jpg" alt="">
            </div>
            <!-- Tutor Information -->
            <div class="tutor-information text-center">
              <h5>Trần Mạnh Giang</h5>
              <span>MSV: 17020707</span>
              <div class="social-info">
                <a href="https://www.facebook.com/tranmanhgiang06051999" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
              </div>
            </div>
          </div>

          <!-- Single Tutors Slide -->
          <div class="single-tutors-slides">
            <!-- Tutor Thumbnail -->
            <div class="tutor-thumbnail">
              <img src="img/bg-img/t4.jpg" alt="">
            </div>
            <!-- Tutor Information -->
            <div class="tutor-information text-center">
              <h5>Bùi Duy Hoàng</h5>
              <span>MSV: 11111111</span>
              <div class="social-info">
                <a href="https://www.facebook.com/PushAShort" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
              </div>
            </div>
          </div>

          <!-- Single Tutors Slide -->
          <div class="single-tutors-slides">
            <!-- Tutor Thumbnail -->
            <div class="tutor-thumbnail">
              <img src="img/bg-img/t5.jpg" alt="">
            </div>
            <!-- Tutor Information -->
            <div class="tutor-information text-center">
              <h5>Thúy Lê</h5>
              <span>MSV: 11111111</span>
              <div class="social-info">
                <a href="https://www.facebook.com/thuyle.200198" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
              </div>
            </div>
          </div>

          <!-- Single Tutors Slide -->
          <div class="single-tutors-slides">
            <!-- Tutor Thumbnail -->
            <div class="tutor-thumbnail">
              <img src="img/bg-img/t6.jpg" alt="">
            </div>
            <!-- Tutor Information -->
            <div class="tutor-information text-center">
              <h5>Chang</h5>
              <span>MSV: 11111111</span>
              <div class="social-info">
                <a href="https://www.facebook.com/profile.php?id=100018463878024" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- ##### Best Tutors End ##### -->
<% include general/footer %>
